*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 100vh;
    background-size: cover;
}

header{
    position: relative;
    text-align: center;
    background: url('images/background1.jpg') center/cover;
    max-width: 100vw;
}

header img{
    margin: 32vh 0 4vh 0;
    max-width: 945px;
    width: 100%;
}

header p{
    color:#fff ;
    font-family: 'Futura';
    font-size: 45px;
}

nav{
    position: absolute;
    right: 60px;
    top: 0px;
}

header ul{
    display: flex;
    height: 50px;
    line-height: 50px;
    justify-content: space-between;
    list-style: none;
}

header li{
    font-size: 27px;
    margin: 20px 25px;

}

header ul a{
    text-decoration: none;
    color: white;
    font-family: Futura;
}

header ul a:hover{
    color: #3d5cdb;

}

.bg-slider{
    width: 100vw;
    background-image: url(images/background1.jpg);
    background-position: center center;
    background-size: cover;
}

.title{
    text-align: center;
    font-family: Futura;
    font-size: 53px;
    color: #3d5cdb;
    padding: 40px;
}


.ex1{
    display: flex;
    justify-content: center;
}

.ex1-box{
    margin: 30px 85px;
}

.ex1-img{
    max-width: 500px;
    margin: 20px;
}

.ex1-text{
    max-width: 400px;
    line-height: 32px;
    font-size: 16px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
}

.ex1-btn{
    text-align: center;
    margin: 50px;
}

.ex1-btn a{
    max-width: 170px;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    background-color: #3d5cdb;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 10px;
}

.ex1-btn a:hover{
    box-shadow: 0px 1px 9px 3px rgb(132, 128, 128);
}


.ex2{
    display: flex;
    justify-content: center;
}

.ex2-box{
    margin: 20px 85px;
}

.ex2-img{
    max-width: 500px;
    margin: 20px;
}

.ex2-text{
    max-width: 400px;
    margin: 15px;
    line-height: 32px;
    font-size: 16px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", sans-serif;
}

.ex2-btn{
    text-align: center;
    margin: 20px 50px;
}

.ex2-btn a{
    max-width: 170px;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    background-color: #F8BF09;
    font-size: 15pt;
    font-weight: bold;
    border-radius: 10px;
}

.ex2-btn a:hover{
    box-shadow: 0px 1px 9px 3px rgb(132, 128, 128);
}

.courses{
    background-color: #D6E6F9;
    padding-bottom: 50px;
    position:relative;
}




.courses-all{
    display: flex;
    max-width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.course{
    background-color: #fff;
    width: 240px;
    height: 340px;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
    position: relative;
}

.course img{
    padding-top: 30px;
}

.course-title{
    position: absolute;
    bottom: 130px;
    right: 70px;
}

.course-btn{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 15px 5px;
    position: absolute;
    bottom: 18px;
    right: 18px;
}

.course-html{
    background: #F16529;
}

.course-css{
    background-color: #3EA9DF;
}

.course-unity{
    background-color: #000000;
}

.course-ruby{
    background-color: #F25252;
}

.course-js{
    background-color: #FAD700;
}

.course-swift{
    background-color: #F47638;
}

.course-go{
    background-color: #73CEDD;
}

.courses canvas{
    position: absolute;
    top: 20px;
}

.slider{
    max-width: 80%;
    margin: 0 auto;
}

.slider div img{
    margin-left: 0;
    margin-right: 0;
}

.slider-img{
    margin: 0;
    padding: 0;
}

.access{
    text-align: center;
    margin: 20px;
}

.access iframe{
    margin: 0 50px;
}

footer{
    height: 60px;
    line-height: 60px;
}

footer p{
    text-align: center;
    color: #3d5cdb;
    font-family: Futura;
    font-size: 1rem;
}


.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@media all and(max-width: 480px) {

    li a{
        display: none;
    }
    
    body{
        background-color: rgb(0, 0, 0);
    }

    intro{
        width: 100vw;
    }

    header img{
        width: 50vw;
    }

    header a{
        display: none;
    }

    .title{
        width: 20vw;
    }

    .ex1{
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
    }

    .ex2{
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
    }

    .access iframe{
        width: 50px;
        height: auto;
        margin: 0 auto;
    }


}